<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">    
        <title> Graph </title>
        <link rel="stylesheet" href="static/css/mystyles.css" />
 
    </head>
    <body>
        <nav>
            <div class="bar">
                <a href="/">
                    <p> Dashboard Home</p>
                </a>
                <div class="navlinks">
                    <a href="/llm" class="navlink">LLM</a>
                    <a href="/timeline" class="navlink">Timeline</a>
                    <a href="/graph" class="navlink">Graph</a>
                    <a href="/people" class="navlink">People/Orgs</a>
                    <a href="/organizations" class="navlink">Organizations</a>
                    <a href="/words" class="navlink">Word Cloud</a>
                </div>
                <a href="#" class="hamburger">&#9776;</a>      
            </div>
        </nav>

        <div class="HistoricDocs">
            <h1> Historic Documents </h1> 
            <iframe style='width: 429px; height: 335px;' src='https://voyant-tools.org/tool/Trends/?query=pok&query=kronos&query=karel&query=government&query=bodrogi&corpus=45eda928ce616032d6aea98cb5930870'></iframe>

            <iframe style='width: 429px; height: 334px;' src='https://voyant-tools.org/tool/CollocatesGraph/?query=pok&query=kronos&query=karel&corpus=45eda928ce616032d6aea98cb5930870'></iframe>         
        </div>


        <div class="NewsSource">
            <h1> News Sources </h1> 
            <iframe style='width: 429px; height: 334px;' src='https://voyant-tools.org/tool/Trends/?query=kronos&query=gastech&query=abila&query=published&query=government&corpus=035c3fa68404777ef0e717f0d56ac5bf'></iframe>

            <iframe style='width: 429px; height: 334px;' src='https://voyant-tools.org/tool/CollocatesGraph/?query=kronos&query=gastech&query=abila&corpus=035c3fa68404777ef0e717f0d56ac5bf'></iframe>
        </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.fade').fadeTo(400, 1);
                $('.text').fadeTo(300, 1);
                $('.review').fadeTo(300, 1);
            }, 300);
         
        });
    </script>
        <script>
           document.addEventListener('DOMContentLoaded', function () {
            const hamburger = document.querySelector('.hamburger');
            const navLinks = document.querySelector('.navlinks');

            hamburger.addEventListener('click', function () {
                navLinks.classList.toggle('show');
            });
            })

          
         </script>

    </body>
</html>