<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">    
        <title> organizations </title>
        <link rel="stylesheet" href="static/css/mystyles.css" />
 
    </head>
    <body>
        <nav>
            <div class="bar">
                <a href="/">
                    <p> Dashboard Home</p>
                </a>
                <div class="navlinks">
                    <a href="/llm" class="navlink">LLM</a>
                    <a href="/timeline" class="navlink">Timeline</a>
                    <a href="/graph" class="navlink">Graph</a>
                    <a href="/people" class="navlink">People/Orgs</a>
                    <a href="/organizations" class="navlink">Organizations</a>
                    <a href="/words" class="navlink">Word Cloud</a>
                </div>
                <a href="#" class="hamburger">&#9776;</a>      
            </div>
        </nav>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.fade').fadeTo(400, 1);
                $('.text').fadeTo(300, 1);
                $('.review').fadeTo(300, 1);
            }, 300);
         
        });
    </script>
        <script>
           document.addEventListener('DOMContentLoaded', function () {
            const hamburger = document.querySelector('.hamburger');
            const navLinks = document.querySelector('.navlinks');

            hamburger.addEventListener('click', function () {
                navLinks.classList.toggle('show');
            });
            })

          
         </script>

    </body>
</html>